aeidon==1.13
aiofiles==0.8.0
aiogram==2.24
asyncio==3.4.3
attrs==23.2.0
Babel==2.9.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
cryptography==42.0.1
decorator==4.4.2
deep-translator==1.11.4
dill==0.3.7
distlib==0.3.4
dload==0.6
exceptiongroup==1.2.0
facebook-sdk==3.1.0
filelock==3.4.2
Flask==2.0.2
frozenlist==1.3.3
fsspec==2023.12.2
future==0.18.2
gcloud==0.18.3
get-nic==0.0.3
grep==0.3.2
grpcio==1.60.0
grpcio-status==1.48.2
h11==0.14.0
h2==3.2.0
hachoir==3.1.3
hpack==3.0.0
hstspreload==2024.1.5
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
humanfriendly==10.0
hyperframe==5.2.0
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
ipcalc==1.99.0
isodate==0.6.1
isort==5.12.0
itsdangerous==2.0.1
jaconv==0.3.4
Janome==0.5.0
Jinja2==3.0.3
lk21==1.6.0
llvmlite==0.41.1
loguru==0.7.0
lxml==5.1.0
magic-filter==1.0.9
MarkupSafe==2.0.1
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
mysql-connector-python==8.0.33
names==0.3.0
netaddr==0.8.0
networkx==3.2.1
numba==0.58.1
numpy==1.22.1
oauth2client==4.1.3
oauthlib==3.2.0
openai-whisper==20231117
outcome==1.3.0.post0
packaging==23.1
paramiko==3.2.0
pathos==0.3.1
pathspec==0.11.2
pbkdf2==1.3
pillow==10.2.0
platformdirs==3.10.0
pox==0.3.3
ppft==1.7.6.7
proglog==0.1.10
prompt-toolkit==3.0.24
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.0
psycopg2-binary==2.9.3
pyaes==1.6.1
pyarmor==8.2.9
pyarmor.cli.core==3.2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase64==1.3.2
pycountry==23.12.11
pycparser==2.21
pycryptodome==3.20.0
pydub==0.23.1
PyExecJS==1.5.1
pyfiglet==0.8.post1
python-telegram-bot==12.6.1
pytz==2022.7.1
pyxui==0.0.9
questionary==1.10.0
random-address==1.1.1
regex==2023.12.25
requests==2.31.0
requests-cache==0.9.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.8
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
srt3==1.0.1
streamlink==6.5.1
subsy==1.0.0
sympy==1.12
tenacity==8.0.1
termcolor==2.3.0
TgCrypto==1.2.3
tiktoken==0.5.2
tk==0.1.0
tomli==2.0.1
torch==2.1.2
tornado==6.1
tqdm==4.66.1
translators==5.8.9
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.1.0
virtualenv==20.13.0
wcwidth==0.2.5
websocket-client==1.7.0
Werkzeug==2.0.2


